<div >

    <h1>{{ text }}</h1>

    <ul>
        <li ng-repeat="l in hc.lorem | filter:nf | orderBy:'name'">{{ l.name }}: {{l.price | number:1}} </li>

    </ul>
    <a ng-href="#/todo">todo</a>

    <br />
    <input type="text" placeholder="wpisz filter na nazwę" ng-model="nf" />


    <hr />
    Randomex: {{ randomex }}

    <hr />
    Person {{person}}

</div>

<hr />

<!--<div my-image-->
     <!--after-title="{{afterTitle}}"-->
     <!--personus="person"-->
     <!--change="changeHello()">-->

<!--</div>-->


<div my-image
     change="changeHello(name)">

</div>